/* 
* The styles in this project are going to be completely managed with display flex, so you might see it a lot.
* This project has a lot of games with css and animations.
* So don't be surprised if you see a keyframe below.
* The styles are completely understandable and explained as much as possible.
*IRANsans font is used in this design.
* Added to the style using impory.
* These styles and designs are predefined in Figma.
*/

/* 
* font for text and description and items
* IRANsans
*/
@import url('https://fonts.cdnfonts.com/css/iranian-sans');

/* 
* font for title and heading
* font : Morabba
* bold
*/
@font-face {
    font-family: 'Morabba';
    src: url('public/font/Morabaat/Morabba-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('public/font/Roboto/RobotoCondensed-Bold.ttf');
}

/* 
* change font for heading
*/
h2 {
    font-family: 'Morabba';
    font-size: 40px !important;
    font-weight: 700;
}

h1 {
    font-family: 'Morabba';
    font-size: 54px !important;
    font-weight: 700;
}

/*
*public style
*font import
*/
* {
    font-family: 'Iranian Sans', sans-serif;
}

/*
* body style
* margin default is 0
* color style
*/

body {
    margin: 0;
    background: rgba(254, 254, 254, 1);


}

/*
* container is parent element in body
* just with set 
*/

.container {
    width: 100%;
    height: 100vh;
    overflow: visible;
}

/*
* style parent menu element
* background is deferent 
* has shadow in bottom
* flex display
*/

#menu {
    padding: 2% 4%;
    background: rgba(254, 254, 254, 1);
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 8px 34px 0px rgba(114, 125, 135, 0.1);
    position: sticky;
    top: 0;
    z-index: 2;
}

/*
* The right side of the menu.
* Contains the logo, which is a photo, and contains a number of links.
* This section has a basic structure in all headers.
* It has a flex display that is created with its empty gap.
*/

#rightMenu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: right;
    gap: 30px;
}

/*
* style for links
* basic style and color customize
* The rest of the styles are based on the given design.
*/

#rightMenu>a {
    text-decoration: none;
    color: rgba(140, 140, 140, 1);
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 28.17px;
}

/*
* change color when ypu hover on a.
*/
#rightMenu>a:hover {
    color: rgba(3, 76, 182, 1);
}

/**
* logo image is customize
*/

#rightMenu>img {
    width: 118px;
    height: 40px;
    opacity: 0.9px;
}

/*
* This is the right section of the menu.
* This part has a button.
* In the rest of the designs, it may have two buttons that are selected using btnL and btnR, which you can see below. 
* This part has display flex.
* We created a distance between them using gap.
*/


#leftMenu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
}

/* 
* This button for public menu in public page.
* has backgroundColor and with, height, border different
*/
#leftMenu>button {
    color: white;
    width: 159px;
    height: 48px;
    padding: 18px 8px 18px 8px;
    border-radius: 4px;
    opacity: 0px;
    background: rgba(31, 75, 175, 1);
    border: none;
    outline: none;
    line-height: 1;
}

/* 
* In user, safir and admin menu style buttons
* has border and icon
*/
#btnL {
    width: 44px !important;
    height: 44px !important;
    padding: 20px 24px 20px 24px !important;
    border: 1.5px solid rgba(220, 220, 220, 1) !important;
    border-radius: 4px !important;
    border: 1.5px 0px 0px 0px !important;
    background: rgba(31, 74, 175, 0) !important;
    text-align: center;
}

#btnR {
    width: 44px !important;
    height: 44px !important;
    padding: 20px 24px 20px 24px !important;
    border: 1.5px solid rgba(220, 220, 220, 1) !important;
    border-radius: 4px !important;
    border: 1.5px 0px 0px 0px !important;
    background: unset !important;
}

/* 
* start hero section 
* This part consists of two sections. The right section contains two texts, a title and a button.
* The second part, which is on the left side, contains the photos that were finalized using their position.
* At the bottom there is a purple box that is placed on the photo. I will mention its code strategy in its own section.
*/
.headContent {
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 4%;
}

/* 
* parent hero 
* include all element in hero section
* has display flex
*/

.rowContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75%;
    padding: 1%;
    height: 500px;
    /* gap: 30px; */

}

/* 
* section left
*/

.leftContent {
    width: 37%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

/* 
* section left include image 
* has position for fix
*/

.image {
    position: relative;
    /* background-image: url('images/herobg.png'); */
    background-color: rgba(97, 104, 255, 1);
    border-radius: 61px 61px 0 0;
    background-repeat: no-repeat;
    height: 397px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}

/* 
* include two picture 
* parent image has position relative(is background)
* child image has position absolute(man)
*/

.image>img {
    position: absolute;
    height: 421px;
}

/* 
* section right
*/

.rightContent {
    width: 45%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
}

/* 
* right section include title div
* title div include h2
*/

.rightContent>.title>h1 {
    font-size: 40px;
    margin: 0;
}

/* 
* right section has button for login and sign up
*/
.rightContent>button {
    width: 236px;
    height: 60px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(31, 75, 175, 1);
    color: white;
}

/* 
* image section
*/
.division {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 400px;
    bottom: 14%;
    box-shadow: -3px 59px 34px 0px rgb(254 254 254);
}


/* 
* svg section on hero section 
* set by position and flex
*/


/* 
* Tonrow services section
* has one title
* Il comporte deux cartes structurées sur la base du flex.
* Chaque carte comporte deux sections de description et une image.
* que chaque carte est sectionnée dans des directions opposées à l'autre carte.
* Dans chaque section spécifique à la description, celle-ci contient un titre et une description ainsi qu'un bouton.
* En cliquant sur chaque bouton, vous serez dirigé vers la section souhaitée.
*/

.mainContent {
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* 
* title
*/

.mainContent>h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
}

/* 
* one and up card 
*/

.rowUp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 55%;
    border-radius: 20px;
    padding: 2% 2%;
    height: 250px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(243, 243, 243, 1);
    box-shadow: 0px 8px 34px 0px rgba(114, 125, 135, 0.1);

}

/* 
* description section and include title and description and one button
*/

.lefUptMainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 25px;

}

/* 
* button style in description section
*/
.lefUptMainContent>button {
    width: 172px;
    height: 44px;
    padding: 20px 24px 20px 24px;
    border-radius: 4px;
    opacity: 0px;
    border: 2.5px solid rgba(220, 220, 220, 1);
    background-color: unset;
    font-weight: 400;
    line-height: 0;
    font-size: 16px;

}

/* 
* information style for description section
*/

.information {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

/* 
* description title style
*/

.information>.title>h4 {
    font-size: 24px;
    margin: 0px;
    font-family: 'Morabba';
    font-weight: 500;

}

/* 
* image section in Tonrow service
*/
.righUptMainContent>img {
    width: 82%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0px 8px 34px 0px rgba(114, 125, 135, 0.1);

}

/* 
*
* two and down card 
*
*/

.righUptMainContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 275px;
}


/* 
* bg tow card (parent)
*/

.rowDown {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 55%;
    border-radius: 20px;
    padding: 2% 2%;
    height: 250px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(243, 243, 243, 1);
    box-shadow: 0px 8px 34px 0px rgba(114, 125, 135, 0.1);
}

/* 
* In each section that is specific to the description, it contains a title and description and a button. 
* By clicking on each button, you will be directed to the desired section.
*/
.leftDownMainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 25px;

}

/* 
* button style
*/

.leftDownMainContent>button {
    width: 172px;
    height: 44px;
    padding: 20px 24px 20px 24px;
    border-radius: 4px;
    opacity: 0px;
    border: 2.5px solid rgba(220, 220, 220, 1);
    background-color: unset;
    font-weight: 400;
    line-height: 0;
    font-size: 16px;

}

/* 
* image section
*/

.rightDownMainContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 275px;

}

/* 
* image style
*/

.rightDownMainContent>img {
    width: 82%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0px 8px 34px 0px rgba(114, 125, 135, 0.1);

}

/* 
* finish service section
*/

/* 
*
*
* divider section
*
*
*/


.breakArrow {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

/* 
*
*
* The value proposition section of Tonrow site
*
*/
.propertyGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
}

/* 
* This section contains 4 small cards with photos, titles and descriptions.
* In this section, all 4 cards are organized together like a square
*/

/* 
* title
*/
.propertyGroup>h2 {
    font-size: 30px;
}

/* 
* parent tow columns by display row
*/
.columns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
}

/* 
* right column style
*/
.columnRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 1%;
    gap: 20px;
}

/* 
* left column style
*/

.columnLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap: 20px;
    padding: 1%;
}

/* 
* up card in column
*/
.columnLeft>.up {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 98%;
    height: 50%;
    padding: 10px 0px 0px 0px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(245, 245, 245, 1);
    box-shadow: 0px 8px 34px 0px rgba(229, 88, 96, 0.08);
    padding: 0;
    padding: 1%;
    gap: 30px;

}

/* 
* down card in column
 */
.columnLeft>.down {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 98%;
    height: 50%;
    padding: 10px 0px 0px 0px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(245, 245, 245, 1);
    box-shadow: 0px 8px 34px 0px rgba(229, 88, 96, 0.08);
    padding: 0;
    padding: 1%;
    gap: 30px;
}

/* 
* in right column right is up card
*/
.columnRight>.up {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 98%;
    height: 50%;
    padding: 10px 0px 0px 0px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(245, 245, 245, 1);
    box-shadow: 0px 8px 34px 0px rgba(229, 88, 96, 0.08);
    padding: 0;
    padding: 1%;
    gap: 30px;
}

/* 
* in right column right is down card
*/

.columnRight>.down {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 98%;
    height: 50%;
    padding: 10px 0px 0px 0px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(245, 245, 245, 1);
    box-shadow: 0px 8px 34px 0px rgba(229, 88, 96, 0.08);
    padding: 0;
    padding: 1%;
    gap: 30px;
}

/* 
* logo style (image) for two columns
*/

.logo {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 17.5px 0px rgba(0, 0, 0, 0.16);
    border: 0.5px solid rgba(242, 242, 242, 1);
    border-radius: 12px;
}

/* 
* description style (image) for two columns
*/

.explain {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* 
*
*
* brake animation motor
*
*
*/

.breakMotor {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

/* 
* images style
* motorcycle image
* road image
*/

.breakMotor>img:last-of-type {
    width: 100%;
}

.breakMotor>img:first-of-type {
    align-self: flex-end;
    animation-name: move;
}

/* 
* animation move for motorcycle
 */

@keyframes move {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(1590px);
    }

    100% {
        transform: translateX(1590px);
    }
}

/* 
*
*
* sell now
*
*
*/

.sell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: rgba(43, 111, 189, 0.1);
}

.map {
    width: 96%;
    height: 100%;
    background-image: url('images/map.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

}

.map>img {
    width: 63px;
    height: 58px;
    position: relative;
    left: 0;
    bottom: 14%;
    animation-name: motor;
    animation-duration: 5s;
}

@keyframes motor {
    0% {
        transform: translateX(1);
    }

    50% {
        transform: translateX(800px) translateY(15px);
    }

    100% {
        transform: translateX(800px) translateY(20px);
    }
}

/* 
* Create a 'buy now' card in the map section.
* This card contains a title and a text and a button and its styles are given and its font
* has been placed
*/

.sellNowBanner {
    width: 35%;
    height: 80%;
    background: rgba(43, 111, 189, 0.1);
    border: 1px solid rgba(241, 241, 241, 1);
    align-self: flex-start;
    margin: 3.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

/* 
* description:
* h2
* p
* button
*/

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    gap: 15px;
}

/* 
* p style
*/
.description>p {
    font-size: 24px;
    text-align: center;
}

/* 
* h2 style
*/
.description>h2 {
    margin-bottom: 0;
}

/* 
* button style
*/
.description>button {
    width: 264px;
    height: 56px;
    border: none;
    padding: 18px 8px 18px 8px;
    border-radius: 4px;
    opacity: 0px;
    background: rgba(31, 75, 175, 1);
    outline: none;
    color: white;
    font-size: 24px;
    font-family: 'Morabba';
    font-weight: 400;
    line-height: 1;

}

/* 
*
*
* break
*
*
*/
.redbreakArrow {
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
*
*
* all brands
*
*
*/
/* 
* In this section we have some brands that cooperated.
* These brands were moving animatedly. 
* These brands slide and hover over them, their color and actually the image changes.
*/
.brands {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 360px;
}

/* 
* brand slider
*/
.slidBrand {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 122%;
    height: 200px;
}

/*
* Arrow slider 
*/
/*
* Giving a scroll on the X axis to Div Slider caused Overflow to scroll and scroll. Then the photos were displayed.
* And then I customized it by changing the scroll styles.
*/
.slider {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

/* 
*customize of overflow-X
*/
::-webkit-scrollbar {
    width: 4px;
    border: 2px solid rgb(254 254 254);
    cursor: pointer;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgb(254 254 254);
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgb(254 254 254);
    cursor: pointer;
}

/* 
* all group brand
*/
.rowBrands {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    width: 99%;
    height: 200px;
    gap: 212px;

}

/* 
* images hovering 
* be hover image is color
*/

.rowBrands>img {
    /* 
    * image is gray color
    */
    filter: grayscale(100%);
    flex-shrink: 0;
}

.rowBrands>img:hover {
    filter: grayscale(0%);
}


/* 
*
*
* Ways of communication
*
*
*/

/* 
* In this section, we have the ways of communication through social media. 
* which includes a title and some small pictures together.
*/
.Relationship {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 150px;
}

.Relationship>h3 {
    margin-top: 0;
    font-size: 24px;
    font-family: 'Morabba';
    font-weight: 500;
}

.rowSocial {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

/* 
*
*
* footer
*
*
*/

/* 
* The footer consists of two rows that are vertical.
* The first line is the site and logo description, and in the second line there are two logos.
*/
.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 459px;
    background: rgba(31, 31, 31, 1);
    width: 100%;

}

/* 
* row up in footer style
*/

.rowFooterup {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 48%;
    width: 97%;
    padding: 1%;
    gap: 13px;
}

.rowFooterup>div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 20%;
    color: white;
    gap: 12px;
}

/* 
* title
*/

.rowFooterup>div>h4 {
    font-size: 18px;
    font-weight: 600;
}

/* 
* telephone
* email
*/

.rowFooterup>div>a {
    color: white;
}

/* 
* divs style
* p
* h1
* image
*/

.logosName {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

}

.shortDes>h4 {
    font-size: 24px;
}

.rowFooterup>div:nth-child(2)>p,
h4 {
    margin: 0;
}

.rowFooterup>div:nth-child(3)>h4,
p {
    margin: 0;
}

.rowFooterup>div:nth-child(4)>h4,
p {
    margin: 0;
}


.rowFooterup>div:nth-child(5)>h4,
p {
    margin: 0;
}

/*
* row down for logos 
*/
.rowFooterDown {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: right;
    width: 97%;
    gap: 20px;
    padding: 1% 0;
}

/*
* copy section
*/
.copyR {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height: 10%;
    border-top: 1px solid rgba(0, 0, 0, 1)
}

.copyR>p {
    font-size: 10px;
    color: white;
}

/* 
* mobiles item
*/
#sidebar {
    display: none;
}

#overlay {
    display: none;
}

#main {
    display: none;
}

#buttons {
    display: none;
}

.breakArrowMobile {
    display: none;
}

.footer>.rowUpMobile {
    display: none;
}

.footer>.rowDownMobile {
    display: none;
}

@media screen and (max-width:700px) {

    /* 
    * body styes
    */
    body {
        /* background-color: blue; */
        overflow-x: hidden;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    /* 
    * parent container styles
    */

    #parent {
        width: 100%;
        overflow-x: clip;
    }

    /* 
* desktop menu styles
    */

    #menu {
        justify-content: left;
        padding: 1%;
        height: 57px;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    /* 
* The menu consists of two left and right parts. 
* On the right is the items that you should not show here, and the left side of the button we need.
*/
    #rightMenu {
        display: none;

    }

    #leftMenu {
        justify-content: left;
    }

    /* 
    * This is the Hero Section. 
    * This is the highest div. 
    * There is a brief introduction to the site.
    */

    .headContent {
        height: 726px;
        margin-top: 10%;
    }

    /* 
* Your Hero Section is the two left and right parts, both inside a rowcontent and managed.
*/
    .rowContent {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        padding: 1%;
        height: 707px;

    }

    .righUptMainContent {
        justify-content: center;
    }

    .rowContent>.rightContent {
        width: 100%;
        align-items: center;
    }

    .rightContent>.paragraph>p {
        text-align: center;
    }

    .leftContent {
        width: 100%;
        justify-self: center !important;
    }

    .leftContent>.image {
        width: 98%;
    }

    /* 
    * We have a purple fantasy separator.
    */

    .division {
        display: none;
    }

    /* 
* A flash separator.
* This separator, located in the mobile mode, is between the two HERO sections and services.
*/

    .breakArrowMobile {
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* 
* Tonrow site service department
    */
    .mainContent {
        width: 100%;
        height: 766px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    /* 
* Selection of Switching buttons on mobile mode.
* Tonrow site service cards.
* Use Event to manage buttons. Clicking on each button will display a card and the other card will disappear.
    */

    #buttons {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 98%;
        border-radius: 8px;
        padding: 0;
        height: 85px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 2px 8px 0px rgba(114, 125, 135, 0.1);

    }

    /* 
* first button
*/
    #buttons>button:first-of-type {
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, 1);
        border: none;
        border-radius: 8px 8px 8px 0px;
        outline: none;
        font-family: 'Morabba';
        color: rgba(140, 140, 140, 1);
    }

    /* 
* style hovering
*/
    #buttons>button:first-of-type:hover {
        color: rgba(0, 61, 149, 1);
        border-bottom: 4px solid rgba(0, 61, 149, 1);

    }

    #buttons>button:last-of-type:hover {
        color: rgba(0, 61, 149, 1);
        border-bottom: 4px solid rgba(0, 61, 149, 1);

    }

    /* 
* last button
*/
    #buttons>button:last-of-type {
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, 1);
        outline: none;
        border: none;
        font-family: 'Morabba';
        color: rgba(140, 140, 140, 1);


    }

    /* 
    * This section consists of two cards at the bottom and top.
    * Which cards include two parts on the left and right and the photo and writing.
    */

    .rowDown {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        width: 98%;
        border-radius: 20px;
        padding: 2% 2%;
        height: 483px;
    }

    .rowUp {
        display: none;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        width: 98%;
        border-radius: 20px;
        padding: 2% 2%;
        height: 483px;
    }

    /* 
* description card
*/
    .information {
        width: 136%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        text-align: center;
    }

    /* 
* image section
*/
    .righUptMainContent>img {
        width: 142%;
    }

    /* 
* information section
*/
    .lefUptMainContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 64%;
        gap: 25px;
    }

    .rightDownMainContent>img {
        width: 142%;
        height: 93%;
    }

    .leftDownMainContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        gap: 25px;
    }

    /* 
* divider section
*/

    .breakArrow {
        margin: 0;
        height: 190px;
    }

    /* 
* The proposed value
* We need all the elements of this segment.
* And nothing is deleted, and only their Direction is column.
*/

    .propertyGroup {
        height: 710px;
    }

    /* 
* tilt
*/
    .propertyGroup>h2 {
        text-align: center;
        margin-top: 0;
    }

    /* 
    * This section has 4 cards, each expressing the benefits of Tonrow.
    */

    .columnRight>.up {
        flex-direction: column;
        padding: 4% 1%;
    }

    .columnRight>.down {
        flex-direction: column;
        padding: 4% 1%;
    }

    .columnLeft>.up {
        flex-direction: column;
        padding: 4% 1%;
    }

    .columnLeft>.down {
        flex-direction: column;
        padding: 4% 1%;
    }

    /* 
* There are additional descriptions and information in this sequel. 
* That contains a title and description with <p>.
*/
    .values {
        text-align: center;
    }

    /* 
* This is the engine shape separator that we don't have in mobile mode.
*/
    .breakMotor {
        display: none;
    }

    /* 
* This is the map part that we don't have in mobile mode.
*/
    .sell {
        display: none;
    }

    /* 
* In this section we have a slider of different logos.
* In this section, this slider acts as a handmade.
*/
    .rowBrands {
        gap: 90px;
    }

    .columns {
        width: 100%;
    }

    /* 
 * title
*/
    .brands>h2 {
        text-align: center;
    }

    /* 
* footer styles
*/
    .footer {
        width: 100% !important;
    }

    /* 
    * menu mobile styles 
    */

    #sidebar {
        position: fixed;
        top: 0;
        right: -250px;
        width: 190px;
        height: 100%;
        background: linear-gradient(152.34deg, #FFFFFF -0.48%, #E8F2FF 160.87%);
        box-shadow: 0px 8px 33px 0px rgba(255, 255, 255, 0.13);
        padding: 20px;
        transition: right 0.3s;
        z-index: 2;
        left: 0;
        bottom: 0;
        border-radius: 21px 0 0px 63px;
        display: block !important;
    }

    #sidebar ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }

    #sidebar>ul>li>a {
        text-decoration: none;
        color: rgba(140, 140, 140, 1);

    }

    #sidebar li {
        margin-bottom: 10px;
        color: #fff;

    }

    #main {
        transition: margin-right 0.3s;
        display: block !important;
    }

    .hamburger {
        cursor: pointer;
        /* background-color: #333; */
        color: #171616;
        display: block;
        padding: 10px 15px;
        position: fixed;
        top: 9px;
        right: 10px;
        z-index: 2;
    }

    #overlay {
        display: none;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.591);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    /*
    * Some parts of it should be deleted according to the figure design in the mobile mode.
* The photos are in the middle.
* The texts were 2 and their size changed.
* Footer size was smaller.
* Footer's internal elements designed with Flex.
*/

    .footer {
        height: 395px;
        gap: 30px;
        padding: 2% 0;
    }

    /* 
* We deleted the former part of the footer.
*/
    .rowFooterup {
        display: none;
    }

    /* 
    * up section footer
    */

    .footer>.rowUpMobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 90%;
    }

    /* 
 * The content of the upper part of the footer
*/
    .footer>.rowUpMobile>div {
        width: 40%;
        color: white;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /* 
    * down section footer
    */

    .footer>.rowDownMobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 90%;
    }

    /* 
 * The content of the downer part of the footer
*/
    .footer>.rowDownMobile>div {
        width: 40%;
        color: white;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /* 
* namad logos direction
*/
    .rowFooterDown {
        justify-content: center;
    }

    /* 
    * slider brand
    * edit width image
    * change gap
    * change direction
    */
    .slidBrand {
        width: 100%;
    }

    .rowBrands {
        gap: 70px;
        justify-content: center;
    }

    .rowBrands>img {
        width: 65px;
    }

    .brands>h2 {
        margin-bottom: 0;
    }

}